@model IEnumerable<ClientViewModel>

@if (!Model.Any())
{
    <div class="text-center text-muted p-4"> No contacts found. </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <table id="table1" class="table table-bordered table-striped w-100">
                <thead>
                    <tr class="align-middle text-start">
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.NameCode)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model)
                    {
                        <tr class="align-middle text-start">
                            <td>@client.Name</td>
                            <td>@client.NameCode</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-details me-2 mb-2 float-end"
                                        onclick="deLinkClient('@client.Id', '@ViewBag.ContactId', this)" title="Delink contact">
                                    <span class="me-2">Delink</span>
                                    <i class="bx bx-trash bx-sm"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
