@model IEnumerable<ContactViewModel>;
@{
    ViewData["Title"] = "Contacts Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title align-middle mb-0 mt-2 fw-bold text-uppercase text-primary">List of Registered Contacts</h3>
        <div class="float-end">
            <button type="button" class="btn btn-outline-primary me-3" onclick="history.back();">
                <i class="bx bx-undo bx-sm me-1 mt-1"></i>
                <span class="text-uppercase">Back</span>
            </button>

            <button class="btn btn-md btn-primary float-end" id="openContactModal">
                <span class="me-2">Add Contact</span>
                @* <i class="bx bx-book-add bx-sm"></i> *@
                <i class="bx bx-user-plus bx-sm"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="text-center text-muted p-4">No contact(s) found.</div>
        }
        else
        {
            <table id="table1" class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center text-uppercase">
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Surname)</th>
                        <th>@Html.DisplayNameFor(model => model.NoOfClients)</th>
                        @* <th>@Html.DisplayNameFor(model => model.DeletedAt)</th> *@
                        <th style="max-width:200px !important;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.Surname)</td>
                            <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.NoOfClients)</td>
                            @* <td class="text-center">
                                @if (item.DeletedAt == null || item.DeletedAt == DateTime.MinValue)
                                {
                                    <button type="button" class="btn btn-success pe-2 ps-2" style="min-width:130px !important;">
                                        <span class="text-uppercase me-2">ACTIVE</span>
                                        <i class='bx bxs-check-shield bx-sm float-end'></i>
                                    </button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-danger pe-3 ps-3" style="min-width:130px !important;">
                                        <span class="text-uppercase me-2">DELETED</span>
                                        <i class='bx bxs-shield-x bx-sm float-end'></i>
                                    </button>
                                }
                            </td> *@
                            <td class="text-center">

                                <button type="button" class="btn btn-outline-danger me-2 mb-2" title="Delete">
                                    <i class='bx bx-trash bx-sm'></i>
                                </button>

                                <button class="btn btn-info me-2 mb-2" title="View Details">
                                    <i class="bx bx-file-detail bx-sm"></i>
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>



<div id="modalContainer"></div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        $("#openContactModal").click(function () {
            $.get("/Clients/CreateContactModal", function (data) {
                $("#modalContainer").html(data);
                var modal = new bootstrap.Modal(document.getElementById('addContactModal'));
                modal.show();
            });
        });



        $("#alertDemo").click(function(){
            Toast.fire({
              icon: "success",
              title: "Signed in successfully"
            });
        });


        $("#table1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true, "paging": true, "ordering": true,
            "info": true, "pageLength": 10, "lengthMenu": [5, 10, 25, 50],
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');


        $(document).on("submit", "#contactForm", function (e) {
            e.preventDefault();

            if (!$(this).valid()) return;

            $.ajax({
                url: '/Clients/CreateContactAjax',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    let content = data;
                    debugger;
                    if(data.status){
                        Toast.fire({
                          icon: "success",
                          title: data.statusMessage
                        });
                        location.reload(); // or append row dynamically
                    }
                    else{
                        Toast.fire({
                          icon: "error",
                          title: data.statusMessage
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    </script>
}
