@model ContactViewModel;
@{
    ViewData["Title"] = "Contact Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title align-middle mb-0 fw-bold text-uppercase">Contact Details</h4>
        <div class="float-end">
            <button type="button" class="btn btn-sm btn-outline-info me-3" onclick="history.back();">
                <i class="bx bx-undo bx-sm me-1"></i>
                <span class="me-1">Back</span>
            </button>

            <button class="btn btn-sm  btn-primary float-end" id="openClientModal" onclick="openContactsModal('@Model.Id')">
                <span class="me-1 mt-1">Link Existing Client</span>
                <i class="bx bx-book-add bx-sm"></i>
            </button>

        </div>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs" id="contactsTabs" role="tablist">
            <li class="nav-item">
                <button class="nav-link active"
                        data-url="@Url.Action("ContactInfo")"
                        data-target="#contactDetailsTab"
                        data-bs-toggle="tab"
                        data-bs-target="#contactDetailsTab"
                        data-contact-id="@Model.Id"
                        type="button">
                    General
                </button>
            </li>


            <li class="nav-item">
                <button class="nav-link"
                        id="pending-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#clientsTab"
                        data-url="@Url.Action("GetContactClients")"
                        data-contact-id="@Model.Id"
                        type="button">
                    Client(s)
                </button>
            </li>

        </ul>

        <div class="tab-content border border-top-0 p-3">
            <div class="tab-pane fade show active" id="contactDetailsTab"></div>
            <div class="tab-pane fade" id="clientsTab"></div>
        </div>
    </div>

</div>


<div id="modalContainer"></div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        document.addEventListener("DOMContentLoaded", function () {

            const tabs = document.querySelectorAll('#contactsTabs button');

            function loadTab(button) {
                debugger;

                const url = button.getAttribute("data-url");
                const contactId = button.getAttribute("data-contact-id");
                const targetSelector = button.getAttribute("data-bs-target");
                const target = document.querySelector(targetSelector);

                target.innerHTML = `
                    <div class="text-center p-4">
                        <div class="spinner-border"></div>
                    </div>
                `;

                let fullUrl = url;

                if (contactId) {
                    fullUrl += `?contactId=${contactId}`;
                }

                fetch(fullUrl)
                    .then(res => res.text())
                    .then(html => {
                        debugger;
                        target.innerHTML = html;
                        if(targetSelector === "#clientsTab"){
                            $("#table1").DataTable({
                                "responsive": true, "lengthChange": true, "autoWidth": true, "paging": true, "ordering": true,
                                "info": true, "pageLength": 5, "lengthMenu": [5, 10, 25, 50],
                            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
                        }
                    })
                    .catch(() => {
                        target.innerHTML =
                            `<div class="alert alert-danger">
                                Failed to load data.
                             </div>`;
                    });
            }

            // Load first tab on page load
            const activeTab = document.querySelector('#contactsTabs .nav-link.active');
            if (activeTab) {
                loadTab(activeTab);
            }

            // Load when tab becomes active
            tabs.forEach(tab => {
                tab.addEventListener('shown.bs.tab', function () {
                    loadTab(this);
                });
            });

        });


        $("#table1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true, "paging": true, "ordering": true,
            "info": true, "pageLength": 10, "lengthMenu": [5, 10, 25, 50],
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

    </script>



    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        function openContactsModal(contactId) {
            debugger;
            $.get('/Clients/GetUnlinkedClients', { contactId: contactId }, function (data) {
                $('#modalContainer').html(data);
                const modalPage = document.getElementById('clientsModal');
                var modal = new bootstrap.Modal(modalPage, {
                    backdrop: 'static',   // prevents outside click closing
                    keyboard: false       // prevents ESC closing
                });
                modal.show();

                $('#table1').DataTable({
                    destroy: true,
                    responsive: true,
                    autoWidth: false,
                    // pageLength: 5,
                    // lengthMenu: [5, 10, 25, 50],
                    language: {
                        emptyTable: `
                            <div class="text-center p-4">
                                <i class="bx bx-user-x bx-xl text-muted mb-2"></i>
                                <div class="text-muted fw-semibold">
                                    No unlinked clients available
                                </div>
                            </div>
                        `,
                        zeroRecords: "No matching clients found"
                    },
                    initComplete: function () {
                        var api = this.api();

                        if (api.data().count() === 0) {
                            $('#table1 thead').hide();
                            $('.dataTables_filter').hide();
                            $('.dataTables_info').hide();
                            $('.dataTables_paginate').hide();
                            $('.dataTables_length').hide();
                        }
                    }
                });
            });
        }



        function linkClient(contactId, clientId, button) {
            debugger;
            $.post('/Contacts/LinkContact',
                { clientId: clientId, contactId: contactId },
                function (response) {
                    debugger;
                    if (response.status) {
                        Toast.fire({
                            icon: "success",
                            title: response.statusMessage
                        });
                        // openContactsModal(clientId); // Refresh modal
                        var table = $('#table1').DataTable();
                        table
                            .row($(button).closest('tr'))
                            .remove()
                            .draw();
                    }
                    else{
                        Toast.fire({
                            icon: "errror",
                            title: response.statusMessage
                        });
                    }
                });
        }




        function deLinkClient(clientId, contactId, button) {
            debugger;
            $.post('/Contacts/DeLinkContact',
                { clientId: clientId, contactId: contactId },
                function (response) {
                    debugger;
                    if (response.status) {
                        Toast.fire({
                            icon: "success",
                            title: response.statusMessage
                        });
                        // openContactsModal(clientId); // Refresh modal
                        var table = $('#table1').DataTable();
                        table
                            .row($(button).closest('tr'))
                            .remove()
                            .draw();
                    }
                    else{
                        Toast.fire({
                            icon: "errror",
                            title: response.statusMessage
                        });
                    }
                });
        }



        // Simple search filter
        $(document).on("keyup", "#contactSearch", function () {
            var value = $(this).val().toLowerCase();
            $("#contactsTable tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>


}
