@model IEnumerable<ContactViewModel>;
@{
    ViewData["Title"] = "Contacts Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title align-middle mb-0 mt-2 fw-bold text-uppercase">List of Registered Contacts</h3>
        <div class="float-end">
            <button type="button" class="btn btn-sm btn-outline-info me-3" onclick="history.back();">
                <i class="bx bx-undo bx-sm me-1"></i>
                <span class="text-uppercase">Back</span>
            </button>

            <button class="btn btn-sm btn-primary float-end" id="openContactModal">
                <span class="me-2">Add Contact</span>
                @* <i class="bx bx-book-add bx-sm"></i> *@
                <i class="bx bx-user-plus bx-sm"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        @if (!Model.Any())
        {
            <div class="text-center text-muted p-4">No contact(s) found.</div>
        }
        else
        {
            <table id="table1" class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center text-uppercase">
                        <th class="align-middle text-start">@Html.DisplayNameFor(model => model.Name)</th>
                        <th class="align-middle text-start">@Html.DisplayNameFor(model => model.Surname)</th>
                        <th class="align-middle text-start">@Html.DisplayNameFor(model => model.EmailAddress)</th>
                        <th>@Html.DisplayNameFor(model => model.NoOfClients)</th>
                        @* <th>@Html.DisplayNameFor(model => model.DeletedAt)</th> *@
                        <th style="max-width:200px !important;">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.Surname)</td>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.EmailAddress)</td>
                            <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.NoOfClients)</td>
                            <td class="text-center">
                                @* <button type="button" class="btn btn-outline-danger me-2 mb-2" title="Delete">
                                    <i class='bx bx-trash bx-sm'></i>
                                </button> *@

                                <button type="button" class="btn btn-outline-danger me-2 mb-2"
                                        onclick="deleteContact('@item.Id', this)" title="Delete">
                                    <i class="bx bx-trash bx-sm"></i>
                                </button>

                                @* <button class="btn btn-info me-2 mb-2" title="View Details">
                                    <i class="bx bx-file-detail bx-sm"></i>
                                </button> *@

                                <a asp-controller="Contacts" asp-action="ContactDetails" asp-route-id="@item.Id" class="btn btn-info me-2 mb-2" title="View">
                                    <i class='bx bx-file-detail bx-sm'></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>



<div id="modalContainer"></div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        $("#openContactModal").click(function () {
            $.get("/Contacts/CreateContactModal", function (data) {
                $("#modalContainer").html(data);
                var modal = new bootstrap.Modal(document.getElementById('addContactModal'));
                modal.show();
            });
        });



        $("#alertDemo").click(function(){
            Toast.fire({
              icon: "success",
              title: "Signed in successfully"
            });
        });


        $("#table1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true, "paging": true, "ordering": true,
            "info": true, "pageLength": 10, "lengthMenu": [5, 10, 25, 50],
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
          }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');


        $(document).on("submit", "#contactForm", function (e) {
            e.preventDefault();

            if (!$(this).valid()) return;

            $.ajax({
                url: '/Contacts/CreateContactAjax',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    let content = data;
                    debugger;
                    if(data.status){
                        Toast.fire({
                          icon: "success",
                          title: data.statusMessage
                        });
                        location.reload(); // or append row dynamically
                    }
                    else{
                        Toast.fire({
                          icon: "error",
                          title: data.statusMessage
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });



        function deleteContact(contactId, button) {
            debugger;

            Swal.fire({
                    position: "top",
                    title: 'ARE YOU SURE?',
                    type: 'question',
                    icon: 'question',
                    html: 'You want to delete this contact from the system.',
                    iconColor: "#fe4d2e",
                    width: 600,
                    background: "#fafafa",
                    confirmButtonColor: "#198754",
                    cancelButtonColor: "#dc3545",
                    showCancelButton: true,
                    cancelButtonText: 'No, cancel',
                    confirmButtonText: 'Yes, delete it!',
                    allowOutsideClick: false,
                    reverseButtons: true,
                    customClass: {
                        confirmButton: 'ms-5',
                        cancelButton: 'me-5'
                    },
                    showClass: {
                        popup: `
                            animate__animated
                            animate__fadeOutDown
                            animate__faster
                        `
                    },
                    hideClass: {
                        popup: `
                            animate__animated
                            animate__fadeInUp
                            animate__faster
                        `
                    }
                }).then(async(result) => {
                    debugger;
                    if(result.isConfirmed){
                        $.post('/Contacts/DeleteContact',
                        { contactId: contactId},
                        function (response) {
                            debugger;
                            if (response.status) {
                                location.reload();
                            }
                            else{
                                Toast.fire({
                                    icon: "errror",
                                    title: response.statusMessage
                                });
                            }
                        });

                    }
                });


        }


    </script>
}
