@model IEnumerable<ClientViewModel>;
@{
    ViewData["Title"] = "Clients Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        <h4 class="card-title align-middle mb-0 mt-2 fw-bold text-uppercase">List of Registered Clients</h4>
        <div class="float-end">
            <button type="button" class="btn btn-sm btn-outline-warning me-3" onclick="history.back();">
                <i class="bx bx-undo bx-sm me-1"></i>
                <span class="me-1">Back</span>
            </button>

            <button class="btn btn-sm  btn-primary float-end" id="openClientModal">
                <span class="me-1 mt-1">Add Client</span>
                <i class="bx bx-book-add bx-sm"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
         @if (!Model.Any())
            {
            <div class="text-center text-muted p-4"> No client(s) found.  </div>
            }
            else
            {
        <table id="table1" class="table table-bordered table-striped">
           
                <thead>
                    <tr class="text-center text-uppercase">
                        <th class="align-middle text-center">@Html.DisplayNameFor(model => model.Name)</th>
                        <th class="align-middle text-center">@Html.DisplayNameFor(model => model.NameCode)</th>
                        <th class="align-middle text-center">@Html.DisplayNameFor(model => model.NoOfContacts)</th>
                        <th class="align-middle text-center" style="width:120px !important;""">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle text-start pb-0">@Html.DisplayFor(modelItem => item.Name)</td>
                            <td class="align-middle text-start">@Html.DisplayFor(modelItem => item.NameCode)</td>
                            <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.NoOfContacts)</td>
                            
                            <td class="align-middle text-center">
                                @* <button type="button" class="btn btn-outline-danger btn-delete me-2 mb-2" data-value="@item.Id" title="Delete">
                                    <i class='bx bx-trash bx-sm'></i>
                                </button>

                                <button type="button" class="btn btn-info btn-details me-2 mb-2" data-value="@item.Id" title="View Details">
                                    <i class="bx bx-file-detail bx-sm"></i>
                                </button> *@

                                <a asp-controller="Clients" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-info me-2 mb-2" title="Edit">
                                    <i class='bx bx-trash bx-sm'></i>
                                </a>

                                <a asp-controller="Clients" asp-action="ClientDetails" asp-route-id="@item.Id" class="btn btn-info me-2 mb-2" title="View">
                                    <i class='bx bx-file-detail bx-sm'></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
            }
    </div>
</div>

<div id="modalContainer"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.onmouseenter = Swal.stopTimer;
                toast.onmouseleave = Swal.resumeTimer;
            }
        });

        $("#openClientModal").click(function () {
            $.get("/Clients/CreateClientModal", function (data) {
                $("#modalContainer").html(data);
                var modal = new bootstrap.Modal(document.getElementById('addClientModal'));
                modal.show();
            });
        });

        $(".btn-details").click(async function(e){
            e.preventDefault();

            debugger;

            const deviceId = $(this).data('value');
            console.log('Button data-value:', deviceId);

        });



        $("#table1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": true, "paging": true, "ordering": true,
            "info": true, "pageLength": 10, "lengthMenu": [5, 10, 25, 50],
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

          

        $("#alertDemo").click(function(){
            Toast.fire({
              icon: "success",
              title: "Signed in successfully"
            });
        });


        $(document).on("submit", "#clientForm", function (e) {
            e.preventDefault();

            if (!$(this).valid()) return;

            $.ajax({
                url: '/Clients/CreateClientAjax',
                type: 'POST',
                data: $(this).serialize(),
                success: function (data) {
                    let content = data;
                    debugger;
                    if(data.status){
                        Toast.fire({
                          icon: "success",
                          title: data.statusMessage
                        });
                        location.reload(); // or append row dynamically
                    }
                    else{
                        Toast.fire({
                          icon: "error",
                          title: data.statusMessage
                        });
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    </script>
}
